@model IEnumerable<WCF.BussinessObject.EntityObject.MenuObject>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<!-- Main content -->
<section class="content">
    <div class="box">
        <div class="box-header">
            <h3 class="box-title">Danh sách <b>Menu</b></h3>
            <span style="float:right">@Html.ActionLink("Thêm mới", "Create", null, new { @class = "btn btn-primary" })</span>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <table id="example1" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>@Html.DisplayNameFor(item => item.Neo)</th>
                        <th>@Html.DisplayNameFor(item => item.Rank)</th>
                        <th>@Html.DisplayNameFor(item => item.Display)</th>
                        <th style="min-width:105px;"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(d => item.Neo)</td>
                            <td>@Html.DisplayFor(d => item.Rank)</td>
                            <td>@Html.DisplayFor(d => item.Display)</td>
                            <td>
                                @Html.ActionLink(" Edit ", "Edit", new { id = item.ID }, new { @class = "btn btn-success" }) |
                                <button class="btn btn-danger btnAjaxDelete" data-id="@item.ID">Delete</button>
                            </td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <th>@Html.DisplayNameFor(item => item.Neo)</th>
                        <th>@Html.DisplayNameFor(item => item.Rank)</th>
                        <th>@Html.DisplayNameFor(item => item.Display)</th>
                        <th style="min-width:105px;"></th>
                    </tr>
                </tfoot>
            </table>
        </div>
        <!-- /.box-body -->
    </div>
    <!-- /.box -->
</section>
<!-- /.content -->
<div class="control-sidebar-bg"></div>
<link rel="stylesheet" href="~/Areas/Admin/Content/plugins/datatables/dataTables.bootstrap.css">
<!-- DataTables -->
<script src="~/Areas/Admin/Content/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="~/Areas/Admin/Content/plugins/datatables/dataTables.bootstrap.min.js"></script>
<!-- SlimScroll -->
<script src="~/Areas/Admin/Content/plugins/slimScroll/jquery.slimscroll.min.js"></script>
<!-- FastClick -->
<script src="~/Areas/Admin/Content/plugins/fastclick/fastclick.js"></script>
<!-- AdminLTE App -->
<script src="~/Areas/Admin/Content/dist/js/app.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="~/Areas/Admin/Content/dist/js/demo.js"></script>
<!-- page script -->
<script src="~/js/_common.js"></script>
<script>
    $(function () {
        $('.btnAjaxDelete').click(function () {
            if (!confirm("Bạn có muốn xoá?")) return false;
            let data = { ID: $(this).data('id') };
            myAjax("/Admin/Menu/Delete", data, function (d) {
                alert(d);
                window.location.reload();
            }, function (d) { alert(d) });
        });
    })
</script>
<script>
    $(function () {
        $("#example1").DataTable();
        $('#example2').DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": false,
            "ordering": true,
            "info": true,
            "autoWidth": false
        });
    });
</script>
