@model WCF.BussinessObject.EntityObject.CoSoVatChatObject

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="content">
    <div class="box">
        @using (Html.BeginForm("Edit", "CoSoVatChat", FormMethod.Post, new { encType = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

            <div class="box-header">
                <h3>Chỉnh sửa <b>Bác sĩ</b></h3>
                @Html.ValidationSummary(true)
                @Html.HiddenFor(model => model.ID)
                @Html.HiddenFor(model => model.LinkImage)
            </div>

            <div class="box-body">
                <div class="form-group container-fluid">
                    <label class="control-label" for="inputWarning">
                        <i class="fa fa-bell-o"></i>
                        @Html.LabelFor(model => model.Index)
                    </label>
                    @Html.TextBoxFor(model => model.Index, new { @class = "form-control", type = "number", min = "0" })
                    @Html.ValidationMessageFor(model => model.Index, "", new { @class = "alert-danger" })
                </div>

                <div class="form-group container-fluid">
                    <label class="control-label">
                        <i class="fa fa-bell-o"></i>
                        @Html.LabelFor(model => model.hrefAjax)
                    </label>
                    @Html.TextBoxFor(model => model.hrefAjax, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.hrefAjax, "", new { @class = "alert-danger" })
                </div>

                <div class="form-group container-fluid">
                    <label class="control-label">
                        <i class="fa fa-bell-o"></i>
                        @Html.LabelFor(model => model.GioiThieu)
                    </label>
                    @Html.TextAreaFor(model => model.GioiThieu, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.GioiThieu, "", new { @class = "alert-danger" })
                </div>

                <div class="form-group container-fluid">
                    <label class="control-label">
                        <i class="fa fa-bell-o"></i>
                        @Html.LabelFor(model => model.LinkImage)
                    </label>
                    <img src="@Model.LinkImage" style="height:200px; max-width: 80%" alt="Alternate Text" />
                    <input class="form-control" type="file" name="LinkImage" value=" " />
                    @Html.ValidationMessageFor(model => model.LinkImage, "", new { @class = "alert-danger" })
                </div>

                <div class="form-group container-fluid">
                    <div>
                        <input type="submit" value="Save" class="btn btn-success" />
                        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary" })
                    </div>
                </div>
            </div>
        }
    </div>
</div>